*{
    margin: 0px;
    padding: 0px;
}


#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: lightgray;
}

#topHeading{
    background-color: aqua;
    color: #2c3e50;
    text-align: center;
}
.box{
    background-color: maroon;
    color: blanchedalmond;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 4px;
}

#navigation_bar{
    display: flex;
    background-color: beige;
    justify-content: space-evenly;
}

.elements{
    background-color: burlywood;
    height: 40px;
    width: 70px;
    margin-left: 20px;
    color: dimgray;
    text-align: center;
    position: relative;
    display: grid;         /*for now i dont know that much concept about this display grid but i did it 
    so that the items would be in center specially text*/
    place-items: center;  
}

.elements a{
    text-decoration: none;
    color: dimgray;
}
